.grid-cols-custom {
  grid-template-columns: 50px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.content {
  display: grid;
  grid-template-rows: 0fr;
  transition: 200ms;
  overflow: hidden;
}
.content .inside {
  min-height: 0;
}
.content.expanded {
  grid-template-rows: 1fr;
  padding-top: 16px;
  padding-bottom: 16px;
}
