/* 自訂導航按鈕樣式 */
.swiper-button-next,
.swiper-button-prev {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border-radius: 50%;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #0056b3;
}

/* 調整Swiper導航按鈕的位置和大小 */
.swiper-button-next,
.swiper-button-prev {
  top: 50%;
  width: auto;
  height: auto;
  margin-top: -22px;
}
