<div class="flex h-full w-full flex-col">
  <section>
    <div
      class="relative h-[80vh] bg-[url('./assets/images/home-page/home-page-banner-mobile.svg')] bg-auto bg-top bg-no-repeat md:bg-[url('./assets/images/home-page/home-page-banner.svg')] lg:bg-[url('./assets/images/home-page/home-page-banner.svg')]"
      style="-webkit-mask: linear-gradient(180deg, #000 90%, transparent)"
    >
      <div
        class="absolute left-1/2 top-1/4 w-10/12 -translate-x-1/2 -translate-y-1/2 lg:left-[30%] lg:top-1/2 lg:w-[26%] lg:-translate-y-1/2"
      >
        <div class="mb-6">
          <div class="mb-2 text-4xl font-bold text-gray-900 lg:text-6xl">
            <span class="font-bold text-purple-800">連結</span>無限可能
          </div>
          <div class="text-4xl font-bold text-gray-900 lg:text-6xl">
            為你開啟機遇之門
          </div>
        </div>
        <div class="mb-6 text-gray-900 lg:text-lg">
          每個人都擁有獨特的才藝與創造力。因此，我們提供一個專業且多元平台，讓熱愛藝術、音樂、手工藝以及創新技術的你，到志同道合的夥伴及專業導師。
        </div>

        <tmf-input
          [formControl]="control"
          [inputType]="InputType.SearchByType"
          [options]="items"
          (clickSearch)="search($event)"
        ></tmf-input>
      </div>
    </div>
  </section>
  <section class="my-5 flex flex-col gap-4">
    <div
      class="w-full bg-top bg-no-repeat pt-[1.5rem] text-center text-4xl"
      style="
        background-image: url('./assets/images/home-page/orange-80-decorate.svg');
      "
    >
      課程短影音
    </div>
    <div class="w-full">
      <div class="flex flex-wrap justify-center gap-2">
        <button
          *ngFor="let option of shortsSubjectOptions; let i = index"
          [ngClass]="{
            'bg-orange-600 text-white': selectedSubjectOption === option,
            'border bg-white': selectedSubjectOption !== option
          }"
          class="rounded px-4 py-2 hover:bg-orange-600 hover:text-white focus:outline-none"
          (click)="selectSubjectOption(option)"
        >
          {{ option }}
        </button>

      </div>
    </div>
    <div class="flex h-full w-full justify-center overflow-hidden">
      <div class="lg:w-9:12 w-10/12">
        <swiper-container
          #swiperElement
          init="false"
          slides-per-view="4"
          navigation="true"
        >
          <ng-container *ngFor="let video of videoDataSource">
            <swiper-slide>
              <!-- <div class="h-auto w-auto"> -->
                <tmf-video-card [data]="video"></tmf-video-card>
              <!-- </div> -->
            </swiper-slide>
          </ng-container>
        </swiper-container>
      </div>
    </div>
  </section>
  <section class="mt-5 bg-orange-100 py-10 lg:skew-y-1">
    <div class="lg:-skew-y-1">
      <div class="flex flex-col gap-4">
      <div
        class="w-full bg-top bg-no-repeat pt-[1.5rem] text-center text-4xl"
        style="
          background-image: url('./assets/images/home-page/orange-80-decorate.svg');
        "
      >
        推薦課程
      </div>
        <div class="w-full flex justify-center">
          <div class="lg:w-1/6 w-1/2">
            <tmf-select
              class="bg-white text-gray-700"
              [multiSelect]="false"
              [icon]="'pin_drop'"
              (selectChange)="selectCourseCity($event)"
            >
              <tmf-option
                *ngFor="let item of cityOptions"
                [value]="item.value"
                [label]="item.label"
              ></tmf-option>
            </tmf-select>
          </div>
        </div>
        <div class="h-full w-full overflow-hidden">
          <div class="lg:w-9:12 m-auto w-10/12">
            <swiper-container
              #swiperElementCourse
              init="false"
              slides-per-view="4"
              navigation="true"
            >
              <ng-container *ngFor="let courseItem of courseDataSource">
                <swiper-slide>
                  <div class="m-auto h-full w-full p-2">
                    <tmf-card
                      [data]="courseItem"
                      [hoverEffect]="false"
                    ></tmf-card>
                  </div>
                </swiper-slide>
              </ng-container>
            </swiper-container>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    class="-mt-5 mb-5 bg-gray-50 bg-[url('./assets/images/home-page/section-bg-decorate.svg')] bg-center py-12"
  >
    <div
      class="w-full bg-top bg-no-repeat pt-[1.5rem] text-center text-4xl"
      style="
        background-image: url('./assets/images/home-page/orange-80-decorate.svg');
      "
    >
      學員導師好評推薦
    </div>
    <div class="my-8 flex w-full flex-col items-center gap-6">
      <ng-container [ngSwitch]="currentWindowSize">
        <ng-container *ngSwitchCase="'Handset'">
          <div
            class="h-[160px] w-[351px] overflow-hidden rounded-xl bg-gray-100/30 shadow-lg backdrop-blur-md"
          >
            <div class="p-6">
              <div class="flex flex-col items-center gap-2">
                <div class="text-xl lg:text-2xl">使用好評高達</div>
                <div class="text-5xl lg:text-7xl">4.7</div>
                <tmf-star-rating
                  [rating]="4.7"
                  [starSize]="'1.5rem'"
                ></tmf-star-rating>
              </div>
            </div>
          </div>
          <div class="relative w-4/5 overflow-hidden">
            <swiper-container slides-per-view="1" autoplay="true">
              <ng-container
                *ngFor="let review of reviewDataSource; let i = index"
              >
                <swiper-slide>
                  <div class="w-full flex-shrink-0 p-2 md:w-1/3 lg:w-1/4">
                    <app-review-card [data]="review"></app-review-card>
                  </div>
                </swiper-slide>
              </ng-container>
            </swiper-container>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'Tablet'">
          <div
            class="h-[160px] w-[351px] overflow-hidden rounded-xl bg-gray-100/30 shadow-lg backdrop-blur-md"
          >
            <div class="p-6">
              <div class="flex flex-col items-center gap-2">
                <div class="text-xl lg:text-2xl">使用好評高達</div>
                <div class="text-5xl lg:text-7xl">4.7</div>
                <tmf-star-rating
                  [rating]="4.7"
                  [starSize]="'1.5rem'"
                ></tmf-star-rating>
              </div>
            </div>
          </div>
          <div class="relative w-4/5 overflow-hidden">
            <swiper-container slides-per-view="2">
              <ng-container
                *ngFor="let review of reviewDataSource; let i = index"
              >
                <swiper-slide>
                  <div class="w-full">
                    <app-review-card [data]="review"></app-review-card>
                  </div>
                </swiper-slide>
              </ng-container>
            </swiper-container>
          </div>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <div class="flex flex-col gap-6">
            <div class="flex gap-6">
              <div
                class="h-[220px] w-[302px] overflow-hidden rounded-xl bg-gray-100/30 shadow-lg backdrop-blur-md"
              >
                <div class="p-6">
                  <div class="flex flex-col items-center gap-2">
                    <div class="text-2xl">使用好評高達</div>
                    <div class="text-7xl">4.7</div>
                    <tmf-star-rating
                      [rating]="4.7"
                      [starSize]="'1.5rem'"
                    ></tmf-star-rating>
                  </div>
                </div>
              </div>
              <ng-container
                *ngFor="let review of reviewDataSource | slice: 0 : 2"
              >
                <div>
                  <app-review-card [data]="review"></app-review-card>
                </div>
              </ng-container>
            </div>
            <div class="flex justify-center gap-6">
              <ng-container
                *ngFor="let review of reviewDataSource | slice: 2 : 4"
              >
                <div>
                  <app-review-card [data]="review"></app-review-card>
                </div>
              </ng-container>
            </div>
            <div class="flex justify-end gap-6">
              <ng-container
                *ngFor="let review of reviewDataSource | slice: 4 : 6"
              >
                <div>
                  <app-review-card [data]="review"></app-review-card>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </section>
  <section class="mb-12">
    <div class="flex w-full flex-col items-center gap-4">
      <div
        class="h-[440px] w-[350px] rounded-lg bg-[#FEEFE7] px-2 pb-0 pt-8 shadow-md md:h-[600px] md:w-[800px] lg:h-[776px] lg:w-[1280px]"
      >
        <div class="flex h-full flex-col items-center justify-between gap-3">
          <span
            class="rounded-lg border-2 border-orange-500 px-2 py-1 text-base font-bold text-orange-500"
            >STEP 1</span
          >
          <span class="text-2xl font-bold lg:text-3xl">註冊帳號</span>
          <span
            class="text-center text-sm md:w-[500px] lg:w-[1040px] lg:text-lg"
            >在我們的平台上註冊一個帳號，填寫您的基本資料並設置登入密碼。註冊完成後,您將獲得全面的訪問權限，可以開始瀏覽和使用我們的各項功能。</span
          >
          <img
            class="md:h-[320px] lg:h-[560px] lg:w-[1040px]"
            [src]="
              './../../../assets/images/home-page/how-to-use/how-to-use-step-1.svg'
            "
            alt=""
          />
        </div>
      </div>
      <div
        class="h-[440px] w-[350px] rounded-lg bg-[#F6FEE7] px-2 pb-0 pt-8 shadow-md md:h-[600px] md:w-[800px] lg:h-[776px] lg:w-[1280px]"
      >
        <div class="flex h-full flex-col items-center justify-between gap-3">
          <span
            class="rounded-lg border-2 border-orange-500 px-2 py-1 text-base font-bold text-orange-500"
            >STEP 2</span
          >
          <span class="text-2xl font-bold lg:text-3xl">尋找才藝教學</span>
          <span
            class="text-center text-sm md:w-[500px] lg:w-[1040px] lg:text-lg"
            >瀏覽我們平台上豐富的才藝教學資源，您可以根據興趣和需求，尋找到合適的教學內容。無論您想要學習音樂、舞蹈、美術還是其他才藝，都能在這裡找到適合您的課程。</span
          >
          <img
            class="md:h-[320px] lg:h-[560px] lg:w-[1040px]"
            [src]="
              './../../../assets/images/home-page/how-to-use/how-to-use-step-2.svg'
            "
            alt=""
          />
        </div>
      </div>
      <div
        class="h-[440px] w-[350px] rounded-lg bg-[#E7F6FE] px-2 pb-0 pt-8 shadow-md md:h-[600px] md:w-[800px] lg:h-[776px] lg:w-[1280px]"
      >
        <div class="flex h-full flex-col items-center justify-between gap-3">
          <span
            class="rounded-lg border-2 border-orange-500 px-2 py-1 text-base font-bold text-orange-500"
            >STEP 3</span
          >
          <span class="text-2xl font-bold lg:text-3xl">預約學習課程</span>
          <span
            class="text-center text-sm md:w-[500px] lg:w-[1040px] lg:text-lg"
            >找到心儀的教學內容後，您可以直接預約相應的學習課程。選擇適合您時間和地點的授課老師，並確定預約詳情。完成預約後，您將收到確認郵件，準時參加課程即可。</span
          >
          <img
            class="md:h-[320px] lg:h-[560px] lg:w-[1040px]"
            [src]="
              './../../../assets/images/home-page/how-to-use/how-to-use-step-3.svg'
            "
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
  <section class="-mb-8 h-auto md:h-[12.5rem] lg:mb-0 lg:h-[12.5rem]">
    <div
      class="flex w-full flex-col items-center justify-center gap-6 md:flex-row lg:flex-row"
    >
      <div
        class="lg:bg-[size: 100%] z-[999] h-[190px] w-[325px] rounded-2xl bg-white bg-[url('./assets/images/home-page/cta/cta-signup.svg')] bg-[size:60%] bg-right-top bg-no-repeat shadow-md lg:h-[225px] lg:w-[520px] lg:bg-auto"
      >
        <div class="h-full px-5 py-6">
          <div
            class="flex h-full flex-col justify-end gap-4"
            (click)="navigateToSignUp()"
          >
            <div class="ld:text-3xl text-2xl">成為會員</div>
            <div class="flex items-center">
              <div class="w-4/5 lg:w-11/12">
                享有第一時間課程資訊上架消息，用最優惠的價格購買課程，同時能與老師一對一教學。
              </div>
              <div class="flex h-full flex-grow items-center justify-end">
                <span
                  class="material-icons-outlined cursor-pointer text-[20px] text-tmf-gray-4"
                  (click)="navigateToSignUp()"
                >
                  east
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="lg:bg-[size: 100%] z-[999] h-[190px] w-[325px] rounded-2xl bg-white bg-[url('./assets/images/home-page/cta/cta-teach.svg')] bg-[size:60%] bg-right-top bg-no-repeat shadow-md lg:h-[225px] lg:w-[520px]"
      >
        <div class="h-full px-5 py-6">
          <div
            class="flex h-full flex-col justify-end gap-4"
            (click)="navigateToTeacherApply()"
          >
            <div class="text-2xl lg:text-3xl">成為教師</div>
            <div class="flex items-center">
              <div class="w-4/5 lg:w-11/12">
                每個人都有擅長的知識技能，足夠的熱情創造更多附加價值，一起將這些技能分享給全世界吧！
              </div>
              <div class="flex h-full flex-grow items-center justify-end">
                <span
                  class="material-icons-outlined cursor-pointer text-[20px] text-tmf-gray-4"
                  (click)="navigateToTeacherApply()"
                >
                  east
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
