<div class="flex h-full w-full flex-col">
  <section>
    <div
      class="relative h-[80vh] bg-[url('./assets/images/home-page/home-page-banner-mobile.svg')] bg-auto bg-top bg-no-repeat md:bg-[url('./assets/images/home-page/home-page-banner.svg')] lg:bg-[url('./assets/images/home-page/home-page-banner.svg')]"
      style="-webkit-mask: linear-gradient(180deg, #000 90%, transparent)"
    >
      <div
        class="absolute left-1/2 top-1/4 w-10/12 -translate-x-1/2 -translate-y-1/2 lg:left-[30%] lg:top-1/2 lg:w-[26%] lg:-translate-y-1/2"
      >
        <div class="mb-6">
          <div class="mb-2 text-4xl font-bold text-gray-900 lg:text-6xl">
            <span class="font-bold text-purple-800">連結</span>無限可能
          </div>
          <div class="text-4xl font-bold text-gray-900 lg:text-6xl">
            為你開啟機遇之門
          </div>
        </div>
        <div class="mb-6 text-gray-900 lg:text-lg">
          每個人都擁有獨特的才藝與創造力。因此，我們提供一個專業且多元平台，讓熱愛藝術、音樂、手工藝以及創新技術的你，到志同道合的夥伴及專業導師。
        </div>
        <tmf-input
          [formControl]="control"
          [inputType]="InputType.SearchByType"
          [options]="items"
          (clickSearch)="search($event)"
        ></tmf-input>
        <!-- <div
          class="search-box-container flex w-full max-w-lg overflow-hidden rounded border border-gray-300"
        >
          <tmf-select class="bg-white text-gray-700" [formControl]="control">
            <tmf-option
              *ngFor="let item of items"
              [value]="item.value"
              [label]="item.label"
            ></tmf-option>
          </tmf-select>
          <input
            type="text"
            placeholder="準備好啟程了嗎？"
            class="flex-grow border-r-0 bg-white px-4 py-2 text-gray-700 focus:border-gray-500 focus:bg-white focus:outline-none"
          />
          <button class="bg-white px-4 py-2 text-black">
            <svg
              class="h-4 w-4 fill-current"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M12.9 14.32a8 8 0 1 1 1.41-1.41l4.57 4.57-1.41 1.41-4.57-4.57zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"
              />
            </svg>
          </button>
        </div> -->
      </div>
    </div>
  </section>
  <section class="my-5 flex flex-col gap-4">
    <div
      class="w-full bg-top bg-no-repeat pt-[1.5rem] text-center text-4xl"
      style="
        background-image: url('./assets/images/home-page/orange-80-decorate.svg');
      "
    >
      課程短影音
    </div>
    <div class="w-full">
      <div class="flex flex-wrap justify-center gap-2">
        <button
          *ngFor="let option of shortsSubjectOptions; let i = index"
          [ngClass]="{
            'bg-orange-600 text-white': selectedSubjectOption === option,
            'border bg-white': selectedSubjectOption !== option
          }"
          class="rounded px-4 py-2 hover:bg-orange-600 hover:text-white focus:outline-none"
          (click)="selectSubjectOption(option)"
        >
          {{ option }}
        </button>
        <button
          class="rounded border px-4 py-2 hover:bg-orange-600 hover:text-white focus:outline-none"
        >
          <svg
            class="h-[24px] w-[24px] fill-black hover:fill-white"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
          >
            <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
            <path
              d="M0 416c0 17.7 14.3 32 32 32l54.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48L480 448c17.7 0 32-14.3 32-32s-14.3-32-32-32l-246.7 0c-12.3-28.3-40.5-48-73.3-48s-61 19.7-73.3 48L32 384c-17.7 0-32 14.3-32 32zm128 0a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zM320 256a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm32-80c-32.8 0-61 19.7-73.3 48L32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l246.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48l54.7 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-54.7 0c-12.3-28.3-40.5-48-73.3-48zM192 128a32 32 0 1 1 0-64 32 32 0 1 1 0 64zm73.3-64C253 35.7 224.8 16 192 16s-61 19.7-73.3 48L32 64C14.3 64 0 78.3 0 96s14.3 32 32 32l86.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48L480 128c17.7 0 32-14.3 32-32s-14.3-32-32-32L265.3 64z"
            />
          </svg>
        </button>
      </div>
    </div>
    <div class="flex h-full w-full justify-center">
      <div class="lg:w-9:12 w-10/12">
        <ng-container [ngSwitch]="currentWindowSize">
          <ng-container *ngSwitchCase="'Handset'">
            <swiper-container [] slides-per-view="2" navigation="true">
              <ng-container *ngFor="let video of videoDataSource">
                <swiper-slide>
                  <div class="m-auto h-full w-full p-2">
                    <!-- <app-short-video-card [data]="video"></app-short-video-card> -->
                    <tmf-video-card [data]="video"></tmf-video-card>
                  </div>
                </swiper-slide>
              </ng-container>
            </swiper-container>
          </ng-container>
          <ng-container *ngSwitchCase="'Tablet'">
            <swiper-container slides-per-view="2" navigation="true">
              <ng-container *ngFor="let video of videoDataSource">
                <swiper-slide>
                  <div class="m-auto h-full w-full p-2">
                    <!-- <app-short-video-card [data]="video"></app-short-video-card> -->
                    <tmf-video-card [data]="video"></tmf-video-card>
                  </div>
                </swiper-slide>
              </ng-container>
            </swiper-container>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <swiper-container slides-per-view="4" navigation="true">
              <ng-container *ngFor="let video of videoDataSource">
                <swiper-slide>
                  <div class="m-auto h-full w-full p-2">
                    <!-- <app-short-video-card [data]="video"></app-short-video-card> -->
                    <tmf-video-card [data]="video"></tmf-video-card>
                  </div>
                </swiper-slide>
              </ng-container>
            </swiper-container>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </section>
  <section class="mt-5 bg-orange-100 py-10 lg:skew-y-1">
    <div class="lg:-skew-y-1">
      <div
        class="w-full bg-top bg-no-repeat pt-[1.5rem] text-center text-4xl"
        style="
          background-image: url('./assets/images/home-page/orange-80-decorate.svg');
        "
      >
        推薦課程
      </div>
      <div class="mt-8 py-8">
        <div class="flex w-full justify-center">
          <div class="lg:w-9:12 w-10/12">
            <ng-container [ngSwitch]="currentWindowSize">
              <ng-container *ngSwitchCase="'Handset'">
                <swiper-container slides-per-view="1" navigation="true">
                  <ng-container *ngFor="let courseItem of courseDataSource">
                    <swiper-slide>
                      <div class="m-auto h-[530px] w-full flex-shrink-0 p-2">
                        <div class="w-full flex-shrink-0 p-2 md:w-1/3 lg:w-1/4">
                          <tmf-card
                            [data]="courseItem"
                            [hoverEffect]="false"
                          ></tmf-card>
                        </div>
                      </div>
                    </swiper-slide>
                  </ng-container>
                </swiper-container>
              </ng-container>
              <ng-container *ngSwitchCase="'Tablet'">
                <swiper-container slides-per-view="2" navigation="true">
                  <ng-container *ngFor="let courseItem of courseDataSource">
                    <swiper-slide>
                      <div class="m-auto h-[530px] w-full flex-shrink-0 p-2">
                        <div class="w-full flex-shrink-0 p-2 md:w-1/3 lg:w-1/4">
                          <tmf-card
                            [data]="courseItem"
                            [hoverEffect]="false"
                          ></tmf-card>
                        </div>
                      </div>
                    </swiper-slide>
                  </ng-container>
                </swiper-container>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <swiper-container slides-per-view="4" navigation="true">
                  <ng-container *ngFor="let courseItem of courseDataSource">
                    <swiper-slide>
                      <div class="m-auto h-[530px] w-full flex-shrink-0 p-2">
                        <div class="w-full flex-shrink-0 p-2 md:w-1/3 lg:w-1/4">
                          <tmf-card
                            [data]="courseItem"
                            [hoverEffect]="false"
                          ></tmf-card>
                        </div>
                      </div>
                    </swiper-slide>
                  </ng-container>
                </swiper-container>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    class="-mt-5 mb-5 bg-gray-50 bg-[url('./assets/images/home-page/section-bg-decorate.svg')] bg-center py-12"
  >
    <div
      class="w-full bg-top bg-no-repeat pt-[1.5rem] text-center text-4xl"
      style="
        background-image: url('./assets/images/home-page/orange-80-decorate.svg');
      "
    >
      學員導師好評推薦
    </div>
    <div class="my-8 flex w-full flex-col items-center gap-6">
      <ng-container [ngSwitch]="currentWindowSize">
        <ng-container *ngSwitchCase="'Handset'">
          <div
            class="h-[160px] w-[351px] overflow-hidden rounded-xl bg-gray-100/30 shadow-lg backdrop-blur-md"
          >
            <div class="p-6">
              <div class="flex flex-col items-center gap-2">
                <div class="text-xl lg:text-2xl">使用好評高達</div>
                <div class="text-5xl lg:text-7xl">4.7</div>
                <tmf-star-rating
                  [rating]="4.7"
                  [starSize]="'1.5rem'"
                ></tmf-star-rating>
              </div>
            </div>
          </div>
          <div class="relative w-4/5 overflow-hidden">
            <swiper-container slides-per-view="1">
              <ng-container
                *ngFor="let review of reviewDataSource; let i = index"
              >
                <swiper-slide>
                  <div class="w-full flex-shrink-0 p-2 md:w-1/3 lg:w-1/4">
                    <app-review-card [data]="review"></app-review-card>
                  </div>
                </swiper-slide>
              </ng-container>
            </swiper-container>
          </div>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <div class="flex flex-col gap-6">
            <div class="flex gap-6">
              <div
                class="h-[220px] w-[302px] overflow-hidden rounded-xl bg-gray-100/30 shadow-lg backdrop-blur-md"
              >
                <div class="p-6">
                  <div class="flex flex-col items-center gap-2">
                    <div class="text-2xl">使用好評高達</div>
                    <div class="text-7xl">4.7</div>
                    <tmf-star-rating
                      [rating]="4.7"
                      [starSize]="'1.5rem'"
                    ></tmf-star-rating>
                  </div>
                </div>
              </div>
              <ng-container
                *ngFor="let review of reviewDataSource | slice: 0 : 2"
              >
                <div>
                  <app-review-card [data]="review"></app-review-card>
                </div>
              </ng-container>
            </div>
            <div class="flex gap-6 justify-center">
              <ng-container
                *ngFor="let review of reviewDataSource | slice: 2 : 4"
              >
                <div>
                  <app-review-card [data]="review"></app-review-card>
                </div>
              </ng-container>
            </div>
            <div class="flex gap-6 justify-end">
              <ng-container
                *ngFor="let review of reviewDataSource | slice: 4 : 6"
              >
                <div>
                  <app-review-card [data]="review"></app-review-card>
                </div>
              </ng-container>
            </div>
          </div>
          <!-- <div class="flex w-9/12 flex-wrap justify-center gap-3">
            <div class="basis-1/4">
              <div
                class="h-[220px] w-[302px] overflow-hidden rounded-xl bg-gray-100/30 shadow-lg backdrop-blur-md"
              >
                <div class="p-6">
                  <div class="flex flex-col items-center gap-2">
                    <div class="text-2xl">使用好評高達</div>
                    <div class="text-7xl">4.7</div>
                    <tmf-star-rating
                      [rating]="4.7"
                      [starSize]="'1.5rem'"
                    ></tmf-star-rating>
                  </div>
                </div>
              </div>
            </div>
            <ng-container
              *ngFor="let review of reviewDataSource; let i = index"
            >
              <ng-container [ngSwitch]="i">
                <ng-container *ngSwitchCase="i < 2"> </ng-container>
              </ng-container>
              <div>
                <app-review-card [data]="review"></app-review-card>
              </div>
            </ng-container>
          </div> -->
        </ng-container>
      </ng-container>
    </div>
  </section>
  <section class="mb-12">
    <div class="flex w-full flex-col items-center">
      <ng-container *ngFor="let img of howToUseStepImages">
        <div>
          <img [src]="img" alt="" />
        </div>
      </ng-container>
    </div>
  </section>
  <section class="md:h-[12.5rem] lg:h-[12.5rem] h-auto lg:mb-0 -mb-8">
    <div class="w-full flex lg:flex-row flex-col items-center justify-center gap-6">
      <div class="md:w-[520px] md:h-[225px] w-[325px] h-[190px] rounded-2xl lg:bg-auto lg:bg-[size: 100%] bg-[size:60%] bg-[url('./assets/images/home-page/cta/cta-signup.svg')] bg-no-repeat bg-right-top shadow-md bg-white z-[999]">
        <div class="h-full px-5 py-6">
          <div class="flex flex-col h-full justify-end gap-4">
            <div class="ld:text-3xl  text-2xl">成為會員</div>
            <div class="flex items-center">
              <div class="lg:w-11/12 w-4/5">
                享有第一時間課程資訊上架消息，用最優惠的價格購買課程，同時能與老師一對一教學。
              </div>
              <div class="h-full flex justify-end items-center flex-grow">
            <span
              class="material-icons-outlined text-[20px] text-tmf-gray-4 cursor-pointer" (click)="navigateToSignUp()">
              east
            </span>
          </div>
            </div>
          </div>
        </div>
      </div>
      <div class="md:w-[520px] md:h-[225px] w-[325px] h-[190px]  rounded-2xl bg-[url('./assets/images/home-page/cta/cta-teach.svg')] lg:bg-[size: 100%] bg-[size:60%] bg-no-repeat bg-right-top shadow-md bg-white z-[999]">
        <div class="h-full px-5 py-6">
          <div class="flex flex-col h-full justify-end gap-4">
            <div class="lg:text-3xl text-2xl">成為教師</div>
            <div class="flex items-center">
              <div class="lg:w-11/12 w-4/5">
                每個人都有擅長的知識技能，足夠的熱情創造更多附加價值，一起將這些技能分享給全世界吧！
              </div>
              <div class="h-full flex justify-end items-center flex-grow">
            <span
              class="material-icons-outlined text-[20px] text-tmf-gray-4 cursor-pointer" (click)="navigateToTeacherApply()">
              east
            </span>
          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
