<div class="flex flex-col items-center justify-center">
  <div class="mb-5 flex w-full justify-between">
    <h1 class="text-[30px] font-bold leading-9">基本資料</h1>
    @if (isEditMode()) {
      <div class="flex gap-2">
        <button
          (click)="updateStudentInfo()"
          class="rounded-md bg-tmf-orange-1 px-5 py-2 text-white"
        >
          儲存
        </button>
        <button
          (click)="cancelEditMode()"
          class="rounded-md bg-tmf-gray-3 px-5 py-2 text-white"
        >
          取消
        </button>
      </div>
    } @else {
      <button
        (click)="openEditMode()"
        class="flex items-center gap-2 rounded-md bg-tmf-orange-1 px-3 py-2 text-white"
      >
        <span class="material-symbols-outlined"> edit_square </span>
        編輯
      </button>
    }
  </div>
  <div class="mb-4 flex w-full flex-col gap-2 px-10" [formGroup]="formGroup">
    <label
      [ngClass]="{ 'cursor-pointer': isEditMode() }"
      for="avator_image"
      class="flex items-center overflow-hidden rounded-full"
    >
      @if (!!formGroup.controls.avator_image.value) {
        <img
          class="h-[200px] w-[200px] rounded-full"
          [src]="formGroup.controls.avator_image.value"
          alt=""
        />
      } @else {
        <div
          class="relative flex h-[200px] w-[200px] items-center justify-center rounded-full border border-tmf-gray-2 bg-tmf-gray-5"
        >
          <p>使用者頭像</p>
          <div
            class="absolute bottom-[10px] right-[10px] flex h-[40px] w-[40px] items-center justify-center rounded-full border border-tmf-gray-5 bg-white cursor-pointer"
          >
            <span class="material-symbols-outlined"> photo_camera </span>
          </div>
        </div>
      }
      @if (isEditMode()) {
        <input
          id="avator_image"
          type="file"
          name=""
          class="hidden"
          (change)="uploadImage($event)"
        />
      }
    </label>

    <tmf-input
      label="姓名"
      [formControlName]="'name'"
      [inputType]="InputType.Outline"
    ></tmf-input>
    <tmf-input
      label="暱稱"
      [formControlName]="'nick_name'"
      [inputType]="InputType.Outline"
    ></tmf-input>
    <tmf-input
      label="生日"
      placeholder="yyyy-mm-dd"
      [formControlName]="'birthday'"
      [inputType]="InputType.Outline"
    ></tmf-input>
    <tmf-input
      label="聯絡電話"
      [formControlName]="'contact_phone'"
      [inputType]="InputType.Outline"
    ></tmf-input>
    <tmf-input
      label="電子郵件"
      [formControlName]="'email'"
      [inputType]="InputType.Outline"
    ></tmf-input>
  </div>
</div>
