<div
  class="w-full bg-gray-50 bg-[url('./assets/images/home-page/section-bg-decorate.svg')] bg-center py-8"
  style="-webkit-mask: linear-gradient(180deg, #000 90%, transparent)"
>
  <!-- 教師頭像、名字 -->
  <section class="m-auto w-10/12 lg:ml-32 lg:w-2/3">
    <div class="flex flex-col items-center gap-6 lg:flex-row">
      <div
        [ngClass]="{
          'flex items-center justify-center': !data?.avator_image,
          'flex items-center justify-center rounded-full bg-tmf-gray-4':
            data?.avator_image
        }"
      >
        <img
          class="h-[200px] w-[200px] rounded-full border border-tmf-gray-6 object-cover"
          [src]="data?.avator_image"
          alt=""
        />
      </div>
      <div class="flex flex-col items-center gap-4 lg:items-start">
        <div class="text-4xl">{{ data?.name }}</div>
        <div class="text-lg">
          累計開設{{ data?.courses?.length || 0 }}堂課程
        </div>
      </div>
    </div>
  </section>
</div>
<div class="m-auto w-10/12 py-12 lg:ml-32 lg:w-2/3">
  <div class="flex h-full w-full flex-col gap-8">
    <!-- 教師短影片 -->
    @if (teacherVideosData.length) {
      <section>
        <div class="mb-4 flex items-center justify-start gap-2">
          <img
            class="h-5 w-5 xl:h-6 xl:w-6"
            src="assets/images/cart-collect.png"
            alt=""
          />
          <h2 class="text-xl font-bold xl:text-2xl">介紹影片</h2>
        </div>
        <div class="custom-scrollbar flex gap-2 overflow-x-auto lg:gap-4">
          <!-- 自我介紹影片 -->
          <ng-container *ngFor="let teacherVideo of teacherVideosData">
            <div class="flex flex-col gap-4">
              <div class="flex items-center text-lg font-medium">
                <span class="material-symbols-outlined rotate-180">
                  double_arrow </span
                >{{ teacherVideo.title }}
                <span class="material-symbols-outlined"> double_arrow </span>
              </div>
              <tmf-video-card
                [data]="teacherVideo.video"
                *ngIf="teacherVideo.video"
              ></tmf-video-card>
            </div>
          </ng-container>
        </div>
      </section>
    }
    <!-- 自我介紹 -->
    <section>
      <div class="mb-4 flex items-center justify-start gap-2">
        <img
          class="h-5 w-5 xl:h-6 xl:w-6"
          src="assets/images/cart-collect.png"
          alt=""
        />
        <h2 class="text-xl font-bold xl:text-2xl">自我介紹</h2>
      </div>
      <div
        class="mb-4 text-base text-tmf-gray-2"
        [innerHTML]="data?.introduction"
      ></div>
    </section>
    <!-- 教師履歷 -->
    <section>
      <div class="mb-4 flex items-center justify-start gap-2">
        <img
          class="h-5 w-5 xl:h-6 xl:w-6"
          src="assets/images/cart-collect.png"
          alt=""
        />
        <h2 class="text-xl font-bold xl:text-2xl">教師履歷</h2>
      </div>
      <!-- 工作經驗 -->
      @if (data?.work_experiences) {
        <div>
          <p class="mb-1 text-tmf-gray-4">工作經驗</p>
          <ul class="list-disc pl-6 font-medium text-tmf-gray-2">
            @for (experience of data?.work_experiences; track experience) {
              <li class="flex items-center gap-1">
                <p>
                  <span>{{ experience.start_year }}</span
                  >/<span>{{ experience.start_month }}</span>
                </p>
                -
                <p>
                  @if (experience.end_year && experience.end_month) {
                    <span>{{ experience.end_year }}</span
                    >/<span>{{ experience.end_month }}</span>
                  } @else {
                    <span>至今</span>
                  }
                </p>
                |
                <p>{{ experience.company_name }}</p>
                |
                <p>{{ experience.job_title }}</p>
              </li>
            }
          </ul>
        </div>
      }
      <!-- 教育背景 -->
      @if (data?.learning_experience) {
        <div>
          <p class="mb-1 text-tmf-gray-4">教育背景</p>
          <div class="flex items-center gap-1 pl-6 font-medium text-tmf-gray-2">
            <p>
              <span>{{ data?.learning_experience?.start_year }}</span
              >/<span>{{ data?.learning_experience?.start_month }}</span>
            </p>
            -
            <p>
              @if (
                data?.learning_experience?.end_year &&
                data?.learning_experience?.end_month
              ) {
                <span>{{ data?.learning_experience?.end_year }}</span
                >/<span>{{ data?.learning_experience?.end_month }}</span>
              } @else {
                <span>至今</span>
              }
            </p>
            |
            <p>
              <span>{{ data?.learning_experience?.name }}</span>
              -
              <span>{{ data?.learning_experience?.department }}</span>
            </p>
            |
            <p>{{ data?.learning_experience?.degree }}</p>
          </div>
        </div>
      }
      <!-- 證照證書 -->
      @if (data?.teaching_certificates) {
        <div>
          <p class="mb-1 text-tmf-gray-4">證照證書</p>
          <ul class="list-disc pl-6 font-medium text-tmf-gray-2">
            @for (
              certificate of data?.teaching_certificates;
              track certificate
            ) {
              <li class="flex items-center gap-1">
                <p>
                  <span>{{ certificate.category }}</span>
                  -
                  <span>{{ certificate.subject }}</span>
                </p>
                |
                <p>
                  <span>{{ certificate.verifying_institution }}</span>
                  -
                  <span>{{ certificate.license_name }}</span>
                </p>
              </li>
            }
          </ul>
        </div>
      }
    </section>
    <!-- 課程瀏覽 -->
    <section *ngIf="data && data?.courses?.length">
      <div class="mb-4 flex items-center justify-start gap-2">
        <img
          class="h-5 w-5 xl:h-6 xl:w-6"
          src="assets/images/cart-collect.png"
          alt=""
        />
        <h2 class="text-xl font-bold xl:text-2xl">課程瀏覽</h2>
      </div>
      <div
        class="custom-scrollbar flex max-w-full gap-4 overflow-x-auto px-2 py-4"
      >
        <ng-container *ngFor="let course of recommendedCourseData">
          <tmf-card [data]="course" [hoverEffect]="false"></tmf-card>
        </ng-container>
      </div>
    </section>
  </div>
</div>
