<div class="flex flex-col items-center w-full py-4">
  <div class="w-9/12 px-8 py-4">
    <!-- 步驟顯示 -->
    <div class="relative flex w-full items-center justify-between">
      <div
        class="absolute left-0 top-2/4 h-0.5 w-full -translate-y-2/4 bg-tmf-orange-2"
      ></div>
      <div
        class="absolute left-0 top-2/4 h-0.5 w-full -translate-y-2/4 bg-tmf-orange-1 transition-all duration-500"
        [style.width.%]="(currentStepIndex / (steps.length - 1)) * 100"
      ></div>
      <ng-container *ngFor="let step of steps; let i = index">
        <div
          class="relative z-10 grid h-4 w-4 place-items-center rounded-full font-bold transition-all duration-300"
          [ngClass]="{
            'bg-tmf-orange-1': i <= currentStepIndex,
            'bg-tmf-orange-2': i > currentStepIndex
          }"
        ></div>
      </ng-container>
    </div>
    <div class="relative mt-1 flex w-full items-center justify-between">
      <ng-container *ngFor="let step of steps; let i = index">
        <div
          class="text-xl"
          [ngClass]="{
            'text-gray-900': i <= currentStepIndex,
            'text-gray-300': i > currentStepIndex
          }"
        >
          {{ step.name }}
        </div>
      </ng-container>
    </div>
    <!-- Form填寫 -->

    <form [formGroup]="createTeacherForm()"></form>

    <!-- <tmf-select
      class="bg-white text-gray-700"
      label="選擇領取方式"
      [isRequired]="true"
      [multiSelect]="false"
      (selectChange)="displaySelectedOption($event)"
      [formControl]="control"
    >
      <tmf-option
        *ngFor="let item of items"
        [value]="item.value"
        [label]="item.label"
      ></tmf-option>
    </tmf-select> -->

    <!-- 按鈕 -->
    <div class="mt-16 flex justify-end gap-6">
      <button
        class="select-none rounded-lg bg-tmf-orange-1 px-6 py-3 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-tmf-orange-1/10 transition-all hover:shadow-lg hover:shadow-tmf-orange-1/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
        type="button"
        (click)="prevStep()"
        [disabled]="currentStepIndex === 0"
      >
        上一步
      </button>
      <button
        class="select-none rounded-lg bg-tmf-orange-1 px-6 py-3 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-tmf-orange-1/10 transition-all hover:shadow-lg hover:shadow-tmf-orange-1/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
        type="button"
        (click)="nextStep()"
        [disabled]="currentStepIndex === steps.length - 1"
      >
        下一步
      </button>
    </div>
  </div>
</div>
