<div class="mx-auto mb-6 mt-[40px] h-[56px] max-w-[1280px] px-3">
  <app-stepper [stepList]="stepList" [currentStep]="currentStep"></app-stepper>
</div>

@switch (currentStep) {
  @case (Step.Step1) {
    <app-cart-list
      [cartDataSource]="cartDataSource"
      [courseDataSource]="courseDataSource"
      (removeItem)="handleRemoveItem($event)"
      (selectChange)="handleSelectedChange($event)"
      (stepChange)="currentStep = Step.Step2"
    ></app-cart-list>
  }
  @case (Step.Step2) {
    <app-checkout [selectedArr]="selectedArr"></app-checkout>
  }
  @case (Step.Step3) {
    <app-order-completed
      (stepChange)="currentStep = Step.Step1"
    ></app-order-completed>
  }
}
