@if (course$ | async; as course) {
  <div class="relative">
    <div
      [style]="{ backgroundImage: 'url(' + course.main_image + ')' }"
      class="relative h-[538px] w-full bg-cover bg-center bg-no-repeat xl:h-[575px]"
    >
      <div
        class="h-full w-full bg-[#10101099] px-3 pb-12 pt-6 backdrop-blur-[8px] xl:flex xl:items-center xl:p-0"
      >
        <div
          class="flex flex-col gap-6 xl:container xl:mx-auto xl:w-[1280px] xl:flex-row xl:justify-between"
        >
          <!-- 課程縮圖 -->
          <div
            class="box-content h-[196px] w-[349px] overflow-hidden rounded-xl border border-tmf-gray-4 shadow-lg xl:h-[415px] xl:w-[737px]"
          >
            <img class="h-full w-full" [src]="course.main_image" alt="" />
          </div>
          <div class="flex flex-col gap-3 xl:flex-grow xl:py-3">
            <!-- 標籤 -->
            <div class="flex items-center gap-3 xl:pb-6">
              <div
                class="inline-block rounded bg-[#180000] p-1 text-xs font-bold text-tmf-yellow-1 xl:p-2 xl:text-sm"
              >
                {{ course.main_category }}
              </div>
              <div
                class="inline-block rounded bg-[#180000] p-1 text-xs font-bold text-tmf-yellow-1 xl:p-2 xl:text-sm"
              >
                {{ course.sub_category }}
              </div>
            </div>
            <!-- 老師頭貼、名字 -->
            <div class="flex items-center gap-2">
              <img
                class="h-8 w-8 rounded-full border border-tmf-gray-6"
                [src]="course.teacher.avatar"
                alt="teacher avatar"
              />
              <p
                class="cursor-pointer text-base font-medium text-white"
                (click)="navigateToTeacherDetail('teacherId')"
              >
                {{ course.teacher.name }}
              </p>
            </div>
            <!-- 課程名稱 -->
            <h1 class="text-lg font-bold text-white xl:text-3xl">
              {{ course.name }}
            </h1>
            <!-- 地區、評分 -->
            <div class="flex items-center gap-3">
              <div
                class="flex items-center justify-center gap-1 text-white xl:border-r xl:border-tmf-gray-4 xl:pr-[0.6875rem]"
              >
                <span class="material-symbols-outlined text-xl leading-5">
                  pin_drop
                </span>
                <p>{{ course.city_name }} {{ course.dist_name }}</p>
              </div>
              <div
                class="flex h-full items-center justify-center gap-1 text-white xl:border-r xl:border-tmf-gray-4 xl:pr-[0.6875rem]"
              >
                <tmf-star-rating [rating]="course.rate!"></tmf-star-rating>
                <p class="text-sm font-medium">{{ course.rate }}</p>
                <p class="text-sm font-medium">
                  ( {{ course.reviews.length }} )
                </p>
              </div>
              <div class="hidden items-center gap-1 text-white xl:flex">
                <span class="material-symbols-outlined text-xl leading-5">
                  face
                </span>

                <p>{{ course.completed_count }} 人學習</p>
              </div>
            </div>
            <!-- 學習人數 -->
            <div
              class="flex items-center justify-start gap-1 text-white xl:hidden"
            >
              <span class="material-symbols-outlined text-xl leading-5">
                face
              </span>
              <p>{{ course.completed_count }} 人學習</p>
            </div>
            <!-- 按鈕 -->
            <div
              class="flex items-center gap-3 pt-6 xl:flex-grow xl:items-end xl:pt-0"
            >
              <button
                (click)="addFavorite()"
                class="gap-1 rounded-lg border border-white bg-white px-4 py-2 text-tmf-orange-1"
              >
                <div class="flex items-center justify-center">
                  <span class="material-symbols-outlined text-xl leading-5">
                    heart_plus
                  </span>
                  <p class="text-sm">收藏課程</p>
                </div>
              </button>

              <button
                class="gap-1 rounded-lg border border-white bg-transparent px-4 py-2 text-white"
              >
                <div class="flex items-center justify-center">
                  <span class="material-symbols-outlined text-xl leading-5">
                    share
                  </span>
                  <p class="text-sm">分享課程</p>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div
        class="h-0.5 w-full bg-gradient-to-r from-[#F7F7F7] via-[#8D0099] to-[#F7F7F7]"
      ></div>
    </div>
    <!-- nav -->
    <nav
      class="sticky top-0 z-50 border-b border-tmf-gray-5 bg-white px-3 pb-4 pt-3"
    >
      <ul
        class="flex items-center justify-between gap-[1.875rem] text-base text-tmf-gray-3 xl:container xl:mx-auto xl:w-[1280px] xl:justify-start xl:gap-8"
      >
        <li>
          <a
            class="py-3"
            [ngClass]="{ active: activeSection() === 'sectionA' }"
            routerLink="/course-detail/Test"
            fragment="sectionA"
            >課程介紹</a
          >
        </li>
        <li>
          <a
            class="py-3"
            [ngClass]="{ active: activeSection() === 'sectionB' }"
            routerLink="/course-detail/Test"
            fragment="sectionB"
            >授課時間</a
          >
        </li>
        <li>
          <a
            class="py-3"
            [ngClass]="{ active: activeSection() === 'sectionC' }"
            routerLink="/course-detail/Test"
            fragment="sectionC"
            >學生評論</a
          >
        </li>
        <li>
          <a
            class="py-3"
            [ngClass]="{ active: activeSection() === 'sectionD' }"
            routerLink="/course-detail/Test"
            fragment="sectionD"
            >教師履歷</a
          >
        </li>
      </ul>
    </nav>
    <div
      class="flex flex-col gap-6 px-3 pb-12 pt-6 xl:container xl:mx-auto xl:w-[1280px] xl:flex-row xl:px-3 xl:pb-20 xl:pt-10"
    >
      <div class="mb-6 flex flex-col gap-12 xl:w-[845px] xl:pr-6">
        <!-- 課程介紹 -->
        <section id="sectionA" #section>
          <div class="mb-4 flex items-center justify-start gap-2">
            <img
              class="h-5 w-5 xl:h-6 xl:w-6"
              src="assets/images/cart-collect.png"
              alt=""
            />
            <h2 class="text-xl font-bold xl:text-2xl">課程介紹</h2>
          </div>
          <p
            class="mb-4 text-sm text-tmf-gray-2 xl:text-base"
            [innerHTML]="course.content"
          ></p>
          <!-- 影片區塊 -->
          <div
            class="custom-scrollbar flex w-full items-center justify-between gap-[0.9375rem] overflow-x-auto pb-8"
          ></div>
        </section>

        <!-- 授課時間 -->
        <section id="sectionB" #section>
          <div class="mb-4 flex items-center justify-start gap-2">
            <img
              class="h-5 w-5 xl:h-6 xl:w-6"
              src="assets/images/cart-collect.png"
              alt=""
            />
            <h2 class="text-xl font-bold xl:text-2xl">授課時間</h2>
          </div>
          <div class="custom-scrollbar w-full overflow-x-auto pb-8">
            @if (weekly_calendar$ | async; as weekly_calendar) {
              <tmf-weekly-calendar
                [schedule]="weekly_calendar"
              ></tmf-weekly-calendar>
            }
          </div>
        </section>

        <!-- 學生評論 -->
        <section id="sectionC" #section>
          <div class="mb-4 flex justify-between">
            <div class="flex h-7 items-center justify-start gap-2">
              <img
                class="h-5 w-5 xl:h-6 xl:w-6"
                src="assets/images/cart-collect.png"
                alt=""
              />
              <h2 class="text-xl font-bold xl:text-2xl">學生評論</h2>
            </div>
            <button
              class="rounded-lg border border-tmf-orange-1 bg-white py-[0.4375rem] pl-4 pr-2"
              (click)="openAllReviews(course.reviews)"
            >
              <div class="flex items-center gap-1 text-tmf-orange-1">
                <span class="text-sm font-normal">顯示所有評價</span>
                <span class="material-icons-outlined text-xl leading-5">
                  chevron_right
                </span>
              </div>
            </button>
          </div>
          <!-- 評論區 -->
          <div class="flex flex-col gap-4">
            <!-- 評論卡片 -->
            @for (review of course.reviews; track $index) {
              @if ($index < 2) {
                <div
                  class="flex flex-col gap-3 rounded-xl border border-tmf-gray-5 bg-white p-3 xl:gap-6 xl:p-6"
                >
                  <div class="flex items-center justify-between">
                    <div class="flex items-center gap-2">
                      <img
                        class="h-12 w-12 rounded-full border border-tmf-gray-6"
                        src="https://fakeimg.pl/48/"
                        alt=""
                      />
                      <div>
                        <p class="mb-1 text-base font-medium text-tmf-gray-2">
                          {{ review.nick_name }}
                        </p>
                        <tmf-star-rating
                          [rating]="review.rate"
                        ></tmf-star-rating>
                      </div>
                    </div>
                    <div
                      class="hidden text-sm font-medium text-tmf-gray-4 xl:block xl:self-start"
                    >
                      {{ review.createdAt | date: 'yyyy-MM-dd' }}
                    </div>
                  </div>
                  <div>
                    <!-- <p class="mb-3 text-lg font-bold text-tmf-gray-2">
                      清楚明白！值得購買的優秀課程
                    </p> -->
                    <p
                      class="text-sm text-tmf-gray-3"
                      [innerHTML]="review.comment"
                    ></p>
                  </div>
                  <div class="text-sm font-medium text-tmf-gray-4 xl:hidden">
                    {{ review.createdAt | date: 'yyyy-MM-dd' }}
                  </div>
                </div>
              }
            }
          </div>
        </section>

        <!-- 教師履歷 -->
        <section id="sectionD" #section>
          <div class="mb-4 flex items-center justify-start gap-2">
            <img
              class="h-5 w-5 xl:h-6 xl:w-6"
              src="assets/images/cart-collect.png"
              alt=""
            />
            <h2 class="text-xl font-bold xl:text-2xl">教師履歷</h2>
          </div>
          <div
            class="flex flex-col gap-3 rounded-xl border border-tmf-orange-2 bg-white p-3 xl:gap-6 xl:p-6"
          >
            <div class="flex items-center gap-2 xl:gap-6">
              <img
                class="h-16 w-16 rounded-full border border-tmf-gray-6 xl:h-20 xl:w-20"
                [src]="course.teacher.avatar"
                alt=""
              />
              <div>
                <p
                  class="text-lg font-medium text-tmf-gray-2 xl:mb-1 xl:text-2xl"
                >
                  {{ course.teacher.name }}
                </p>
                <p class="text-sm font-medium text-tmf-gray-4">
                  累積完成 {{ course.completed_count }} 堂課程
                </p>
              </div>
            </div>
            <!-- 自介 -->
            <p class="text-base text-tmf-gray-2">
              {{ course.teacher.introduction }}
            </p>
            <!-- 工作經驗 -->
            <div>
              <p class="mb-1 text-xs text-tmf-gray-4 xl:text-sm">工作經驗</p>
              <ul
                class="list-disc pl-6 text-sm font-medium text-tmf-gray-2 xl:text-sm"
              >
                @for (
                  work_experience of course.teacher.work_experiences;
                  track $index
                ) {
                  <li>
                    {{ work_experience.duration }} |
                    {{ work_experience.company }} |
                    {{ work_experience.description }}
                  </li>
                }
              </ul>
            </div>
            <!-- 教育背景 -->
            <div>
              <p class="mb-1 text-xs text-tmf-gray-4 xl:text-sm">教育背景</p>
              <ul
                class="list-disc pl-6 text-sm font-medium text-tmf-gray-2 xl:text-sm"
              >
                <li>
                  {{ course.teacher.learning_experience?.years }}｜{{
                    course.teacher.learning_experience?.institution
                  }}｜{{ course.teacher.learning_experience?.degree }}
                </li>
              </ul>
            </div>
            <!-- 證照證書 -->
            <div>
              <p class="mb-1 text-xs text-tmf-gray-4 xl:text-sm">證照證書</p>
              <ul
                class="list-disc pl-6 text-sm font-medium text-tmf-gray-2 xl:text-sm"
              >
                <li>
                  {{ course.teacher.teaching_certificate?.certificate_name }}
                </li>
              </ul>
            </div>
            <div class="flex justify-end">
              <button (click)="openTeacherDetailPage(course.teacher._id!)">
                <div class="flex items-center gap-1 text-tmf-orange-1">
                  <p class="text-sm xl:text-base">了解更多教師履歷</p>
                  <span class="material-icons-outlined text-xl leading-5"
                    >chevron_right</span
                  >
                </div>
              </button>
            </div>
          </div>
        </section>
      </div>

      <!-- 課程方案 -->
      <div class="w-full">
        <div
          class="flex flex-col gap-3 rounded-xl border border-tmf-gray-5 bg-white p-3 xl:gap-6 xl:border-0 xl:p-6 xl:shadow-lg"
        >
          <div class="text-xl font-bold text-tmf-gray-2">課程方案</div>
          <!-- 方案選擇 -->
          <div class="flex flex-col gap-3" [formGroup]="formGroup">
            @for (item of course.price_quantity; track item._id) {
              <label class="custom-radio">
                <input
                  type="radio"
                  [formControlName]="'purchase_item_id'"
                  name="purchase_item_id"
                  [value]="item._id"
                  class="hidden"
                />
                <div>
                  <p class="mb-1 text-sm font-bold text-tmf-gray-3 xl:mb-2">
                    {{ item.quantity }} 堂課程
                  </p>
                  <div
                    class="flex gap-1 text-lg font-medium text-tmf-gray-2 xl:text-2xl"
                  >
                    <p>NT$</p>
                    <p>{{ item.price }}</p>
                  </div>
                </div>
                <span
                  class="material-symbols-outlined invisible text-[32px] leading-[32px] text-tmf-orange-1 xl:text-[32px] xl:leading-8"
                >
                  check
                </span>
              </label>
            }
          </div>
          <!-- 立即購買、購物車 -->
          <div
            class="flex items-center justify-between gap-3 border-b border-dashed border-tmf-gray-5 pb-6"
          >
            <button
              class="flex-grow rounded-lg py-2.5 text-base font-bold text-white xl:py-3 xl:text-lg"
              [ngClass]="{
                'bg-tmf-gray-4':
                  !this.formGroup.controls.purchase_item_id.value,
                'bg-tmf-orange-1':
                  this.formGroup.controls.purchase_item_id.value
              }"
              (click)="addToCart(true)"
            >
              立即購買
            </button>
            <button
              class="rounded-lg border px-3 py-[0.6875rem]"
              [ngClass]="{
                'border-tmf-gray-4 bg-tmf-gray-4 text-white':
                  !this.formGroup.controls.purchase_item_id.value,
                'border-tmf-orange-1 bg-white text-tmf-orange-1':
                  this.formGroup.controls.purchase_item_id.value
              }"
              (click)="addToCart()"
            >
              <span
                class="material-symbols-outlined flex items-center text-xl leading-5 xl:text-[28px] xl:leading-7"
                >add_shopping_cart</span
              >
            </button>
          </div>
          <!-- 問卷 -->
          <div>
            <p class="mb-3 text-sm text-tmf-gray-3 xl:text-base">
              或許你想在上課前先諮詢教師
            </p>
            <button
              class="w-full rounded-lg border border-tmf-purple bg-white py-[0.6875rem] text-base text-tmf-purple hover:bg-tmf-purple hover:text-white duration-100  xl:text-lg"
              (click)="openSurvey(course.survey_url!)"
            >
              填寫課前諮詢問卷
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- 底部固定欄位 -->
    <div
      class="custom-shadow sticky bottom-0 h-[92px] w-full rounded-xl bg-white px-4 py-3 xl:hidden"
    >
      <div class="flex gap-1 text-sm text-tmf-gray-3">
        <p>目前方案：</p>
        <p>單堂課程</p>
      </div>
      <div class="flex items-center justify-between">
        <div class="flex gap-1 text-2xl font-medium text-tmf-gray-2">
          <p>NT$</p>
          <p>1,200</p>
        </div>
        <button
          class="rounded-lg bg-tmf-orange-1 px-4 py-3 text-base font-bold text-white"
        >
          查看方案
        </button>
      </div>
    </div>
    <!-- 推薦課程 -->
    <div
      class="hidden bg-tmf-gray-7 pb-20 pt-10 xl:flex xl:items-center xl:justify-center"
    >
      <div class="xl:container xl:w-[1280px]">
        <div class="mb-6 flex items-center justify-start gap-2">
          <img
            class="h-5 w-5 xl:h-6 xl:w-6"
            src="assets/images/cart-collect.png"
            alt=""
          />
          <h2 class="text-xl font-bold xl:text-2xl">其他推薦課程</h2>
        </div>
        <div class="flex gap-6">
          @if(recommendCourse$ | async; as recommendCourses) {
            @for (recommendCourse of recommendCourses; track recommendCourse.course_id) {
              <tmf-card [hoverEffect]="false" [data]="recommendCourse!"></tmf-card>
            }
          }
        </div>
      </div>
    </div>
  </div>
}
