<div class="flex min-h-[100vh] flex-col">
  <app-header class="relative z-50" [user]="user()"></app-header>
  @if (identity() === IdentityType.DEFAULT) {
    <main class="relative z-40 min-h-screen flex-grow">
      <router-outlet></router-outlet>
    </main>
  } @else {
    <main
      class="relative z-40 mx-auto mb-12 mt-6 w-full max-w-[1280px] flex-grow gap-6 px-6 md:flex"
    >
      <!-- 功能選單 -->
      <div
        class="hidden max-h-[768px] rounded-xl bg-white p-6 shadow-lg md:block md:min-w-[13.25rem]"
      >
        <div class="mb-6 flex items-center justify-between">
          <p class="text-xl font-bold">個人管理</p>
          <div
            class="rounded bg-tmf-gray-7 px-2 py-1 text-base font-bold text-tmf-orange-1"
          >
            {{ identityText() }}
          </div>
        </div>

        <ul class="mb-6 flex min-h-[36.5rem] flex-col gap-1">
          @for (menuItem of menuList(); track $index) {
            <li
              class="cursor-pointer rounded-xl text-tmf-gray-2 hover:bg-tmf-orange-1 hover:text-white"
              [routerLinkActive]="['bg-tmf-orange-1', '!text-white']"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <a
                class="flex items-center justify-between gap-3 px-2 py-3"
                [routerLink]="menuItem.path"
              >
                <span class="material-icons-outlined">{{ menuItem.icon }}</span>
                <p class="grow">{{ menuItem.title }}</p>
              </a>
            </li>
          }
        </ul>

        @if(user()?.is_teacher){
          <a
            class="flex items-center justify-between gap-3 rounded-xl bg-tmf-orange-1 p-4 text-white"
            [routerLink]="changeIdentity().path"
          >
            <span class="material-icons-outlined">restart_alt</span>
            <p class="grow">切換為{{ changeIdentity().text }}</p>
          </a>
        }
      </div>
      <!-- 功能頁面 -->
      <div
        class="manage-content relative rounded-2xl bg-white px-5 py-6 shadow-lg"
      >
        <router-outlet></router-outlet>
        <tmf-loading></tmf-loading>
      </div>
    </main>
  }
  <app-footer class="relative z-30"></app-footer>
</div>
