:root {
  --fc-button-bg-color: theme('colors.tmf-orange-1');
  --fc-button-bg-color-hover: theme('colors.tmf-orange-2');
  --fc-button-active-bg-color: theme('colors.tmf-gray-2');
  --fc-button-border-color: theme('colors.tmf-orange-2');
  --fc-today-bg-color: theme('colors.tmf-orange-2');
}
