<h1 class="mb-6 text-3xl font-bold text-tmf-gray-1">老師個人資訊</h1>
<div class="container mx-auto max-w-7xl px-6">
  <div class="mb-6 rounded-lg bg-white p-6 shadow-md">
    <div
      class="mb-4 flex cursor-pointer items-center justify-between"
      (click)="toggleSection('basicInfo')"
    >
      <h2 class="text-lg font-bold">基本資料</h2>
      <div class="flex items-center">
        <button
          class="mr-2 rounded bg-gray-100 px-4 py-2 hover:bg-gray-200"
          (click)="handleEditMode($event, 'basicInfo')"
        >
          編輯
        </button>
        <svg
          [class.rotate-180]="!expandedSections['basicInfo']"
          class="h-6 w-6 transition-transform duration-200"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"
          />
        </svg>
      </div>
    </div>

    <div
      class="space-y-4"
      *ngIf="expandedSections['basicInfo']"
      [formGroup]="fg"
    >
      <div class="flex">
        <label class="min-w-[120px] font-medium">國籍</label>
        @if (!editMode().basicInfo) {
          <span>{{ baseInfo().nationality }}</span>
        } @else {
          <tmf-select
            class="bg-white text-gray-700"
            label="國家"
            formControlName="nationality"
            [isRequired]="true"
            [multiSelect]="false"
          >
            <tmf-option
              *ngFor="let item of nationOptions"
              [value]="item.value"
              [label]="item.label"
            ></tmf-option>
          </tmf-select>
        }
      </div>
      <div class="flex">
        <label class="min-w-[120px] font-medium">教學專長</label>
        @if (!editMode().basicInfo) {
          @for (item of baseInfo().categories; track $index) {
            <div>
              <span>{{ item.category }}</span
              >&nbsp;<span>{{ item.sub_categories?.join(', ') }}</span>
            </div>
          }
        } @else {
          <div>
            <tmf-select
              class="bg-white text-gray-700"
              label="教授科目"
              info="*您最多只能教授三種科目"
              [formControl]="fg.controls.topicControl"
              [isRequired]="true"
              [multiSelect]="true"
              [maxSelected]="3"
              (selectChange)="handleCategoryChange($event)"
            >
              <tmf-option
                *ngFor="let item of tagOptions"
                [class.selected]="
                  fg.controls.topicControl.value?.includes(item.value)
                "
                [value]="item.value"
                [label]="item.main_category"
              ></tmf-option>
            </tmf-select>
            <div class="flex flex-col">
              <span
                class="mb-1 ml-1 inline-block text-sm font-medium text-tmf-gray-2 md:text-[15px] md:leading-6"
                >教學專長</span
              >
              <span class="mb-2 ml-1 text-sm text-gray-500"
                >*盡可能選擇熱門專長，以獲得更多招生機會(3項/科目)。</span
              >
            </div>
            <ng-container *ngFor="let group of fg.controls.categories.controls">
              <tmf-select
                class="bg-white text-gray-700"
                [label]="getCategoryLabel(group.controls.category_id.value!)"
                [multiSelect]="true"
                [maxSelected]="3"
                [isRequired]="true"
                [formControl]="group.controls.sub_categories"
              >
                <tmf-option
                  *ngFor="
                    let tagName of getSubCategoryOptions(
                      group.controls.category_id.value!
                    );
                    let i = index
                  "
                  [class.selected]="
                    group.controls.sub_categories.value?.includes(tagName)
                  "
                  [value]="tagName"
                  [label]="tagName"
                ></tmf-option>
              </tmf-select>
            </ng-container>
          </div>
        }
      </div>
      <div class="flex">
        <label class="min-w-[120px] font-medium">自我介紹</label>
        @if (!editMode().basicInfo) {
          <p
            [innerHTML]="baseInfo().introduction"
            class="whitespace-pre-line leading-relaxed"
          ></p>
        } @else {
          <tmf-quill-editor
            class="mb-6"
            label="文章內文"
            height="400px"
            [isRequired]="true"
            [diabled]="!editMode().basicInfo"
            [defaultContent]="baseInfo().introduction"
            (contentChangeEvent)="fg.controls.introduction.setValue($event)"
          ></tmf-quill-editor>
        }
      </div>
    </div>
  </div>

  <div class="mb-6 rounded-lg bg-white p-6 shadow-md">
    <div
      class="mb-4 flex cursor-pointer items-center justify-between"
      (click)="toggleSection('workExperience')"
    >
      <h2 class="text-lg font-bold">工作經驗</h2>
      <div class="flex items-center">
        <button class="mr-2 rounded bg-gray-100 px-4 py-2 hover:bg-gray-200">
          編輯
        </button>
        <svg
          [class.rotate-180]="!expandedSections['workExperience']"
          class="h-6 w-6 transition-transform duration-200"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"
          />
        </svg>
      </div>
    </div>

    <div class="flex" *ngIf="expandedSections['workExperience']">
      <div class="min-w-[200px] space-x-2">
        <span>2018 年 9 月</span>
        <span>至</span>
        <span>2020年6月</span>
      </div>
      <div class="space-y-2">
        <div>台北</div>
        <div>崇音創藝音樂工作室</div>
        <div>音樂教育</div>
        <div>吉他講師</div>
      </div>
    </div>
  </div>

  <div class="mb-6 rounded-lg bg-white p-6 shadow-md">
    <div
      class="mb-4 flex cursor-pointer items-center justify-between"
      (click)="toggleSection('education')"
    >
      <h2 class="text-lg font-bold">學歷背景</h2>
      <div class="flex items-center">
        <button class="mr-2 rounded bg-gray-100 px-4 py-2 hover:bg-gray-200">
          編輯
        </button>
        <svg
          [class.rotate-180]="!expandedSections['education']"
          class="h-6 w-6 transition-transform duration-200"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"
          />
        </svg>
      </div>
    </div>

    <div class="flex" *ngIf="expandedSections['education']">
      <div class="min-w-[200px] space-x-2">
        <span>2018 年 9 月</span>
        <span>至</span>
        <span>2020年6月</span>
      </div>
      <div class="space-y-2">
        <div>台北</div>
        <div>國立台灣藝術大學</div>
        <div>音樂學系</div>
        <div>學士</div>
      </div>
    </div>
  </div>

  <div class="mb-6 rounded-lg bg-white p-6 shadow-md">
    <div
      class="mb-4 flex cursor-pointer items-center justify-between"
      (click)="toggleSection('teaching')"
    >
      <h2 class="text-lg font-bold">教學證照</h2>
      <div class="flex items-center">
        <button class="mr-2 rounded bg-gray-100 px-4 py-2 hover:bg-gray-200">
          編輯
        </button>
        <svg
          [class.rotate-180]="!expandedSections['teaching']"
          class="h-6 w-6 transition-transform duration-200"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"
          />
        </svg>
      </div>
    </div>

    <div class="flex" *ngIf="expandedSections['teaching']">
      <label class="min-w-[120px] font-medium">音樂</label>
      <span>吉他</span>
    </div>
  </div>

  <div class="mb-6 rounded-lg bg-white p-6 shadow-md">
    <div
      class="mb-4 flex cursor-pointer items-center justify-between"
      (click)="toggleSection('video')"
    >
      <h2 class="text-lg font-bold">自我介紹影片</h2>
      <div class="flex items-center">
        <button class="mr-2 rounded bg-gray-100 px-4 py-2 hover:bg-gray-200">
          編輯
        </button>
        <svg
          [class.rotate-180]="!expandedSections['video']"
          class="h-6 w-6 transition-transform duration-200"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"
          />
        </svg>
      </div>
    </div>

    <div
      class="flex min-h-[200px] items-center justify-center rounded border-2 border-dashed border-gray-300"
      *ngIf="expandedSections['video']"
    >
      <!-- 影片上傳區域 -->
    </div>
  </div>
</div>
