<h1 class="mb-6 text-3xl font-bold text-tmf-gray-1">課程預約管理</h1>
<div class="flex flex-col gap-3">
  <!-- 近期預約 -->
  <tmf-recent-reserve [courseList]="courseList"></tmf-recent-reserve>
  <!-- 已逾期預約 -->
  <tmf-expired-reserve
    [courseList]="courseList"
    [studentList]="studentList"
  ></tmf-expired-reserve>
  <!-- 已預約時段 -->
  <div class="rounded-lg border border-tmf-gray-2 p-4 shadow-md">
    <!-- <full-calendar [options]="calendarOptions"></full-calendar> -->
    <div class="pb-8">
      <div class="mb-4 flex items-center justify-between">
        <div class="flex items-center gap-4">
          <h2 class="text-2xl font-bold">已預約時段</h2>
          <tmf-select class="!w-[200px]">
            <tmf-option [label]="'王大明'" [value]="'all'"> </tmf-option>
          </tmf-select>
          <tmf-select class="!w-[200px]">
            <tmf-option [label]="'全部'" [value]="'all'"> </tmf-option>
          </tmf-select>
          <button
            class="box-border rounded-md border border-tmf-gray-2 bg-white px-4 py-[7px] text-center text-tmf-gray-2"
          >
            查詢
          </button>
        </div>
        <div class="flex items-center gap-2">
          <label class="custom-radio">
            <input
              type="radio"
              name="view-mode"
              value="table"
              class="hidden"
              checked
            />
            列表
          </label>
          <label class="custom-radio">
            <input
              type="radio"
              name="view-mode"
              value="calendar"
              class="hidden"
            />
            日曆
          </label>
        </div>
      </div>
      <tmf-reserve-table
        [totalCount]="tableCount()"
        [tableReserves]="tableReserves()"
      ></tmf-reserve-table>
    </div>
    <!-- 可預約時段 -->
    <div class="mb-4 flex items-center justify-between gap-4">
      <h2 class="text-2xl font-bold">可預約時段</h2>
      <button
        class="box-border rounded-md border border-tmf-gray-2 bg-white px-4 py-[7px] text-center text-tmf-gray-2"
      >
        編輯
      </button>
    </div>
    <div class="w-full overflow-x-auto">
      <table class="w-full select-none border border-tmf-orange-1">
        <thead>
          <tr>
            <th class="w-[60px] bg-tmf-orange-4 px-3 py-2"></th>
            <th class="bg-tmf-orange-4 px-3 py-2" *ngFor="let day of days">
              {{ day }}
            </th>
          </tr>
        </thead>
        <tbody>
          @for (item of test; track item.time; let index = $index) {
            <tr class="text-center">
              <td class="bg-tmf-orange-4 py-2.5">
                <p class="text-base font-bold">{{ index + 1 }}</p>
                <p class="text-sm font-bold text-tmf-orange-1">
                  {{ item.time }}
                </p>
              </td>
              @for (day of item.statues; track $index) {
                <td class="p-2">
                  <div
                    [ngClass]="{
                      'bg-tmf-gray-4': !day.status,
                      'bg-green-300': day.status
                    }"
                    class="flex cursor-pointer items-center justify-center rounded-lg py-3 xl:px-3"
                    (mousedown)="startSelection(day.day, day)"
                    (mouseover)="continueSelection(day.day, day)"
                    (mouseup)="endSelection(day.day, day)"
                  >
                    <span
                      class="material-icons-outlined text-base leading-4 text-white xl:text-[24px] xl:leading-6"
                    >
                      {{ day.status ? 'done' : 'do_not_disturb_on' }}
                    </span>
                  </div>
                </td>
              }
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
