table.reserved_table > thead > tr > th {
  @apply px-3 py-2;
}

table.reserved_table > tbody > tr > td {
  @apply px-3 py-3;
}

table.reserved_table > thead > tr > th:first-child,
table.reserved_table > tbody > tr > td:first-child {
  @apply pl-3;
}

table.reserved_table > thead > tr > th:last-child,
table.reserved_table > tbody > tr > td:last-child {
  @apply pr-3;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spin {
  animation: spin 1s linear infinite;
  border-top-color: transparent;
}
.afterimage {
  animation: spin 1s linear infinite;
  opacity: 0.5;
  border-top-color: transparent;
}
