<div class="m-auto w-4/5 py-12">
  <div class="flex h-full w-full flex-col">
    <!-- 教師頭像、名字 -->
    <section>
      <div class="flex items-center gap-6">
        <img
          class="h-[200px] w-[200px] rounded-full border border-tmf-gray-6"
          src="https://fakeimg.pl/200/"
          alt=""
        />
        <div class="flex flex-col gap-4">
          <div class="text-lg">陳老師</div>
          <div class="text-lg">累計完成123堂課程</div>
          <button
              class="py-2 px-4 gap-1 text-tmf-orange-1 bg-white rounded-lg border border-tmf-orange-1"
            >
              <div class="flex justify-center items-center">
                <span class="text-xl leading-5 material-symbols-outlined">
                  add
                </span>
                <p class="text-sm">關注老師</p>
              </div>
            </button>
        </div>
      </div>
    </section>
    <!-- 教師短影片 -->
    <section></section>
    <!-- 自我介紹 -->
    <section></section>
    <!-- 課程瀏覽 -->
    <section></section>
  </div>
</div>
